# =========================
# DO NOT ALLOW ANY LOG FILES IN THIS REPOSITORY
# =========================
*.log
/*.log

# Exclude common log directories (redundant but improves clarity)
logs/
log/
**/logs/
**/log/

.idea/
.oca/
.vscode/

node_modules/
